<div class="card">
  <ul class="list-group list-group-flush">
    {{#each this.tasks as |task|}}
      <SingleTask @task={{task}} @setTaskAsPinned={{this.setTaskAsPinned}} />
    {{/each}}
  </ul>
</div>